h1{
  text-align: center;
  padding: 1rem 0;
  font-weight: 700 !important;
  font-family: 'DM Serif Text', serif !important;
  letter-spacing: 0.6rem !important;

}
i{
color: #A2DBFA !important;
font-size: 2rem;
}
h6{
  font-size: 1.5rem !important;
  font-weight: 900 !important;
  font-family: 'Poppins', sans-serif !important;
  line-height: 3rem !important;

}
body{
  background: #000000 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}