{% extends 'layout.html' %}

{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}">{% endblock%}
{% block title%}
 Homepage
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-5 content">
      <div class = "two"></div>
      <h1>Engage Your Audience in Minutes</h1>
      <p>Powerful platform to pitch yourself in 60 seconds</p>
      </div>
    <div class="col-md-7">
      <img src="{{url_for('static', filename = 'images/hero.png')}}" alt="">
    </div>
  </div>
<div class = "one"></div>
      
<a href="{{url_for('auth.login')}}"><button class = "btn custom"> Add Pitch</button></a>
</div>

{% endblock %}